#delete{
  background-color: black;
  color: rgb(226, 46, 46);
  font-size: 16px;


}
#del{
  margin-left: 10px;
  background-color: black;
  color: rgb(226, 46, 46);

  
}
#like{
  font-size: 16px;
}
#dislike{
  font-size: 16px;

}
#downvote{
  margin-left: 10px;
  background-color: black;
  color: rgb(226, 46, 46);

}
.upvote{
  margin-left: 10px;
  background-color: black;
  color: green;
}


#buttons{
  margin-top: 5%;
  margin-bottom: 10%;
}
#when{
  float:right;
}

.changed {
  transition: color 0.4s ease-in, text-shadow 0.4s ease-in, background-color 0.5s linear 0s;
  text-shadow: #bbb 2px 2px 2px;
  background-color: #ffffcc;
  color: #BF1722;
}